<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
        </div>
            <div class="main-content">
                <img src="@ViewBag.ProfPicUrl" alt="">
                <div class="paragraph">
                <h3>About Me</h3>
                    <p>I live, breathe, and speak climbing. Existing in the mountains is my passion & career. I want to share these special places with you.</p>
                    <p>I began mountain guiding professionally in 2013 around the San Juan Mountains of southwest Colorado. Rock climbing in the spring & fall, alpine climbing in the summer, and ice climbing & skiing in the winter.</p>
                    <p>In the summer of 2017, I moved to Washington State to work & gain experience in the North Cascades – a dramatic, rugged, complicated, and heavily glaciated mountain range.</p>
                    <p>Fall, winter, and spring are currently spent in Red Rock Canyon. Just minutes outside of Las Vegas, Red Rock provides access to the longest & easiest multi-pitch trad climbing in the US.</p>
                    <p>In the summer of 2020, I’m looking forward to intimately learning a new mountain range – The Teton Range in Wyoming.</p>
                </div>
        </div>
    </div>
</body>
</html>