<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
        </div>
        <h3 class="gold">Projects</h3>
        <h4>Project Name</h4>
        <p>About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project.</p>
        <h4>Project Name</h4>
        <p>About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project.</p>
        <h4>Project Name</h4>
        <p>About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project. About this project.</p>
    </div>
</body>
</html>