<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/> @* <~~ Add CSS *@
    <title>Time Display</title>
</head>
<body>
    <div class="container">
        <p>The current date and time is:</p>
        <div class="time-date">
            <p>@ViewBag.NewDate</p>
            <p>@ViewBag.NewTime</p>
        </div>
    </div>
</body>
</html>